/* SongDetail.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.song-detail-container {
  font-family: 'Orbitron', sans-serif;
  color: #0ff; /* Neon blue for the text */
  background-color: #000; /* Dark background for contrast */
  border: 1px solid #2e2e2e; /* Slight border for a subtle edge */
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 20px #0ff; /* Neon blue glow */
  margin-top: 100px;
}

.song-detail-header {
  font-size: 2.5rem; /* Large font size for headers */
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #0ff; /* Neon blue glow */
}

.song-detail-info {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-left: 3px solid #0ff; /* Neon blue line for a stylistic separator */
}

.song-detail-lyrics {
  white-space: pre-wrap; /* Respect line breaks and spaces */
  background-color: rgba(255, 255, 255, 0.1); /* Slightly lighter background for the lyrics section */
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow: inset 0 0 10px #0ff; /* Inner neon blue glow */
}

/* If you have buttons or links, you can style them like this */
.song-detail-button {
  background-color: #bb00ff; /* Neon purple background */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px #bb00ff; /* Neon purple glow */
  transition: background-color 0.3s ease;
}

.song-detail-button:hover {
  background-color: #d000ff; /* Brighter purple on hover */
  box-shadow: 0 0 20px #d000ff; /* Brighter glow on hover */
}

.song-detail {
    font-family: 'Orbitron', sans-serif;
    color: #0ff; /* Neon blue text color */
    background-color: #000; /* Dark background */
    padding: 2rem;
    margin-top: 4rem; /* Agrega espacio en la parte superior */
    border-radius: 10px;
    box-shadow: 0 0 20px #0ff; /* Neon blue glow */
  }
  
  .song-detail-header {
    color: #0ff;
    text-shadow: 0 0 10px #0ff; /* Neon blue glow */
  }
  
  .song-detail-content {
    background-color: #121212; /* Darker background for content */
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #bb00ff; /* Neon purple glow */
  }

  .detail-box {
    background: rgba(10, 23, 38, 0.8); /* Fondo con transparencia */
    color: #39ff14; /* Texto neón verde */
    text-shadow: 0 0 5px #39ff14; /* Sombra para efecto de brillo */
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #39ff14; /* Bordes neón verde */
    border-radius: 5px;
  }
  
  .detail-box-label {
    font-weight: bold;
  }
  
  .detail-box-content {
    background: transparent; /* Sin fondo para que se vea el fondo del detalle */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .song-detail-image {
    width: 100%; /* Asumiendo que quieres que la imagen sea de ancho completo */
    border-radius: 5px;
    box-shadow: 0 0 10px #39ff14; /* Sombra para efecto de brillo */
  }