.songlist-container {
  color: #0ff;
  background-color: #000;
  border: 1px solid #2f2f2f;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.songlist-header {
  background-color: #111; /* Encabezado más oscuro */
  color: #39ff14; /* Color de neón para el texto del encabezado */
  margin-bottom: 2rem; /* Espacio adicional debajo del encabezado */
}

.actions-container .songlist-button {
  margin-right: 10px; /* Añade un margen a la derecha de cada botón */
  margin-left: 10px; /* Añade un margen a la izquierda de cada botón */
}

.songlist-table {
  table-layout: fixed; /* Asegura que todas las columnas tengan un ancho fijo */
  width: 100%; /* Asegura que la tabla se extienda por todo el ancho del contenedor */
  margin-top: 20px;
  border-collapse: collapse;
}


.songlist-table th,
.songlist-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #333; /* Borde más oscuro para las filas */
  overflow: hidden; /* Asegúrate de que el contenido no desborde */
  text-overflow: ellipsis; /* Añade elipses si el contenido es muy largo */
  white-space: nowrap; /* Evita que el texto se envuelva a la línea siguiente */
}

.songlist-table th {
  background-color: #005f73; /* Fondo de encabezado de tabla */
  color: #0ff; /* Texto de neón para encabezados de tabla */
}

.songlist-table tr:hover {
  background-color: #222; /* Hover más oscuro para las filas */
}

.songlist-button, .like-button, .delete-button {
  background-color: #bb00ff; /* Botones de color púrpura */
  color: #fff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #bb00ff; /* Sombra de neón para los botones */
  transition: background-color 0.3s ease, box-shadow 0.3s;
  margin-left: 10px;
}

.songlist-button:hover, .like-button:hover, .delete-button:hover {
  background-color: #d000ff; /* Botón más claro al pasar el ratón por encima */
  box-shadow: 0 0 20px #d000ff; /* Sombra de neón más intensa al pasar el ratón por encima */
  margin-left: 10px;
}

.likes-count {
  font-size: 1rem; /* Tamaño de fuente mayor */
  color: #bb00ff; /* Cambia el color al morado */
  margin-left: 8px; /* Asegúrate de que haya un espacio entre el botón y el texto */
  transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

.likes-count:hover {
  color: #d000ff; /* Color morado claro al pasar el mouse */
}

/* Agregar estilos para la paginación si es necesario */
.pagination-container {
  text-align: center;
  padding: 20px 0;
}

/* Otras clases y estilos según sea necesario */
.action-button {
  margin-right: 10px; /* Espacio a la derecha */
  margin-bottom: 10px; /* Espacio debajo del botón */
}

.search-input {
  border: 1px solid #bb00ff; /* Borde morado */
  background-color: #000; /* Fondo oscuro */
  color: #0ff; /* Texto de neón */
  margin: 0 10px; /* Espacio a los lados del input */
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px #bb00ff; /* Sombra de neón */
}
.table-container {
  flex: 1; /* Permite que el contenedor de la tabla crezca y llene el espacio disponible */
  width: 100%; /* Ancho completo */
  margin-top: 20px; /* Margen superior para la tabla */
  overflow: auto; /* Permite desplazamiento cuando el contenido excede la altura del contenedor */
}


/* Ajustes para pantallas medianas */
@media (max-width: 768px) {
  .songlist-container {
    padding: 0 10px;
  }

  .songlist-table, .songlist-table th, .songlist-table td {
    font-size: 0.8rem;
    padding: 6px;
  }

  .songlist-button, .like-button, .delete-button {
    padding: 4px 8px;
    font-size: 0.7rem;
    margin: 2px;
    min-width: 30px;
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  .songlist-container {
    padding: 0;
  }

  .songlist-table, .songlist-table th, .songlist-table td {
    font-size: 0.6rem;
    padding: 4px;
  }

  .songlist-button, .like-button, .delete-button {
    padding: 2px 4px;
    font-size: 0.6rem;
    margin: 1px;
    min-width: 25px; /* Asegúrate de que hay espacio suficiente para el texto */
  }

  .table-container {
    overflow-x: auto; /* Permite desplazamiento horizontal en tablas pequeñas */
  }
  
  /* Asegura que los botones de acción siempre sean visibles */
  .actions-cell button {
    display: inline-block; /* Evita que los botones se oculten */
    white-space: nowrap; /* Mantiene el texto de los botones en una sola línea */
  }
}